.card-custom{
    margin: 0px;
    border-radius: 40px 40px 0px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:20px 20px 0px;
    z-index: 2;
    background:white;
}

.ion-input-custom {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 25px;
    .input{
     height:45px
    }
}

.heading{
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.login-btn{
    --background: black;
    height: 45px;
    font-size: 18px;
    --border-radius: 10px;
}

.create-one{
    text-align: center;
    font-size: 18px;
    span{
       color:black
    }
}

.forgot-text{
    font-size: 17px;
    text-decoration: underline;
    margin-bottom: 25%;

}

.image-div{
    position: absolute;
    top: -80px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    img{
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }
}