<ion-content>

  <ion-row class="background-img">
  
    <div class="card-custom">
      <div class="image-div">
          <img src="./../../../assets/logo-img.jpg">
      </div>
       
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>  -->
      
      <p class="heading">Login</p>
      
      <div class="ion-input-custom">
        <ion-input class="input" placeholder="Phone/Email" type="text"></ion-input>
      </div>
      <div class="ion-input-custom">
        <ion-input class="input" placeholder="Password" type="password"></ion-input>
      </div>
      <ion-button expand="block" class="login-btn">Login</ion-button>
      <p class="forgot-text">Forgot Password ?</p>
  
        <p class="create-one">Don't have an account ? <span> Create One</span> </p>
     
    </div>
  </ion-row>
</ion-content>